.terraform/
*.tfstate*
crash.log
crash.*.log

**/tfplan
*.tfplan
*.plan

.terraformrc
terraform.rc

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json

*.env
*.env.*

.vscode/
.idea/
.DS_Store
*~
*.log

backend.hcl