project_name                                  = ""
name_prefix                                   = ""
aws_region                                    = ""
azs                                           = ["", ""]
db_name                                       = ""
grafana_cloud_opamp_auth_token_parameter_name = ""
grafana_cloud_opamp_endpoint                  = ""
firebase_credentials_secret_name              = ""
grafana_cloud_otlp_write_key_parameter_name   = ""
github_org                                    = ""
github_repos                                  = ["", "", "", ""]
google_client_id                              = ""
jwt_secret_arn                                = ""
mongo_db_name                                 = ""
mongo_db_uri_secret_name                      = ""
groq_ai_secret_name                           = ""
groq_ai_endpoint                              = ""
groq_ai_model                                 = ""
